@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;700&display=swap');

:root {
    --color1: #1177ab;
    --color2: #1263d4;
    --color3: #1a2545;
    --color4: #0b4e8c;
    --color5: #E5E5E5;
    --color6: #FFFFFF;
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DynaPuff', cursive;
}

body {
    background: #ced8e0;
}

main {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    background: radial-gradient(at 8% 10px, #196e8b, #dbe6e1, #24a8ea55);
}

header {
    width: 100%;
}

header nav {
    width: 1000%;
    max-width:1000px ;
    position: fixed;
    left: 0px;
}

nav {
    background: radial-gradient(at 8% 10px, #124b9b, #1a2545 );
    height: 80px;
    position: absolute;
}


.menu_bar {
    display: none;
}

header nav ul {
    overflow: hidden;
    list-style: none;
}

header nav ul li {
    float: left;
    padding: 3px;
}

header nav ul li a {
    color: #FFFFFF;
    padding: 0px;
    display: block;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #0f633d;
    cursor: pointer;
}

/* HOME */
.title_foto {
    display: flex;
}
.title {
    text-align: center;
    color: var(--color2);
}
.title i {
    color: var(--color3);
}
/* HABILIDADES */
.Habilidades .titlehabi {
    color: var(--color3);
    padding: ;
}
.Habilidades {
    text-align: left;
}
.Habilidades .bxl-html5 {
    color: #c84012;
}
.Habilidades .bxl-css3 {
    color: #1273c8;
}
.Habilidades .bxl-javascript {
    color: #cec514;
}
/* AcercaDeMi */
.titleAcer {
    color: #0f1c2e;
}
.SobreMi{
    color: var(--color4);
}
.Acerca .igm {
    display: flex;
    padding: 10px;
    position: relative;
    bottom: 0;
    border-radius: 30px;
}

@media (max-width:750px) {
    header nav {
        width: 80%;
        height: 100%;
        margin: 0;
        position: fixed;
    }

    header nav ul li {
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255, 255, 255, .8);
    }

    .menu_bar {
        display: block;
        width: 100%;
        background: #ccc;
    }

    .menu_bar .menu {
        display: block;
        padding: 20px;
        background: #024959;
        color: #E5E5E5;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

    }

    .menu_bar span {
        float: right;
        font-size: 40px;

    }
}












/* .navbar ul {
    float: right;
    margin-right: 20px;
}

.navbar ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px ;
    font-size: 14px;
    padding: 7px 13px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

li a.active, li a:hover {
    background: var(--color2);
    transition: .5s;
}

.navbar .hambur {
    font-size: 30px;
    color: var(--color5);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
} */

/* #check {
    display: none;
} */


/* .Home {
    width: 70%;
    padding: 20px;
} */

/* .Habilidades {
    width: 70%;
    padding: 20px;
} */

/* .Acerca {
    width: 70%;
    padding: 20px;
} */

/* .Servicios {
    width: 70%;
    padding: 20px;
} */

.box_img {
    width: 100%;
    min-height: 200px;
    position: relative;
}

.box_img img {
    position: absolute;
    bottom: 0;
    border-radius: 7em;
}



/* @media (min-width: 750px) {
    .navbar .hambur {
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #14613e;
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all .5s;
    }
    .navbar ul li {
        display: block;
        margin: 5px 0;
        line-height: 30px;
    }
    .navbar ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: var(--color3);
    }
} */

