@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;700&display=swap');

:root {
    --color1: #1177ab;
    --color2: #1263d4;
    --color3: #1a2545;
    --color4: #0b4e8c;
    --color5: #E5E5E5;
    --color6: #FFFFFF;
    --z-index: 6000;
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DynaPuff', cursive;
}

body {
    background: radial-gradient(at 8% 10px, #196e8b, #24a8ea55);
}

main {
    width: 80vw;
    max-width: 1000px;
    padding-top: 100px;
    margin: auto;
    overflow: hidden;
    background: radial-gradient(at 8% 10px, #196e8b, #dbe6e1, #24a8ea55);
}

header {

    width: 100%;
    background: radial-gradient(at 8% 10px, #196e8b, #24a8ea55);

}

/* .navbar {
    border: solid green;
} */

.navbar {
    width: 100%;
    background: radial-gradient(at 8% 10px, #124b9b, #1a2545 );
    height: 80px;
    margin: auto;
    position: fixed;
    z-index: var(--z-index);
}

.box_img {
    width: 100%;
    min-height: 200px;
    position: relative;
}

.box_img img {
    position: absolute;
    bottom: 0;
    border-radius: 7em;
}

.burgue_menu {
    display: flex;
    align-items: center;
    justify-content:center;
    height: 100%;
    position: fixed;
    background: radial-gradient(at 8% 10px, #124b9b, #1a2545 );
    flex-direction:column;
    transform: translateX(-100%);

}
.activate {
    transform: translateX(0%);
}

.menu_bar {
    display: none;
    justify-content: space-between;
}
.menu_bar .logo {
    cursor: pointer;
}
.menu_bar a {
    text-decoration: none;
    color: var(--color3);
    background: radial-gradient(at 80% 100px, #196e8b, #dbe6e1, #24a8ea55);
    
    padding: 0.3rem;
    cursor: pointer;
}

ul {
    height: 80px;
    list-style: none;
    line-height: 5rem;
    
    display: flex;
}

li a {
    color: #FFFFFF;
    padding: 0px;
    display: block;
    text-decoration: none;
}

li a:hover {
    color: #38c7da;
    cursor: pointer;
}

/* HOME */
.Home {
    width: 1000px;
    gap: 10rem;
}


.title_foto {
    display: flex;
}
.title {
    text-align: center;
    color: var(--color2);
}
.title i {
    color: var(--color3);
}
/* HABILIDADES */
.Habilidades .titlehabi {
    color: var(--color3);
    
}
.Habilidades .hcj {
    font-size: 50px;
    display: flex;
    justify-content: space-around;
}



.Habilidades {
    text-align: left;
}
.Habilidades .bxl-html5 {
    color: #c84012;
}
.Habilidades .bxl-css3 {
    color: #1273c8;
}
.Habilidades .bxl-javascript {
    color: #cec514;
}
/* AcercaDeMi */
.titleAcer {
    color: #0f1c2e;
}
.SobreMi{
    color: var(--color4);
}
.Acerca .igm {
    display: flex;
    padding: 10px;
    position: relative;
    bottom: 0;
    border-radius: 30px;
}
/* MiPortalio */
.ttlePortafolio {
    color: var(--color3);
}

/* Contacto */
.Contacto {
    color: var(--color3);
}
.Contacto .conta {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.conta a {
    text-decoration: none;
    color: var(--color3);
}
.Contacto .conta {
    
    display: flex;
    justify-content: space-around;
}

.Contacto .conta i {
    font-size: 50px;
    color: var(--color1);
}

/* Pie de pag. */
footer {
    background: radial-gradient(at 8% 10px, #124b9b, #1a2545 );
    padding: 0.5rem;
    text-align: center;
}

@media (max-width: 749px) {
    .menu {
        display: none;
    }

    .title {
        position: relative;
        z-index: 5000;
    }

    .menu_bar {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .menu_bar i {
        height: 100%;
        font-size: 70px;
    }

    .Acerca .igm {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width:750px) {
    header {
        width: 100vw;
        margin: 0;
        display: flex;
        
        position: fixed;
        z-index: 1500;
    }

    li {
        
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    
    .menu {
        display: flex;
        justify-content: flex-end;
        width: 80%;
        margin: auto;
        gap: 1rem;
    }

    .navbar {
        width: 100%;
    }

}


/* .menu_bar {
        z-index: 1500;
        width: 100%;
        position: fixed;
        right: 0;
        top: 0;
        background: #ccc;
    }

    .menu_bar .menu {
        display: block;
        padding: 20px;
        background: #024959;
        color: #E5E5E5;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

    }

    .menu_bar span {
        float: right;
        font-size: 40px;

    } */


/* .navbar ul {
    float: right;
    margin-right: 20px;
}

.navbar ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px ;
    font-size: 14px;
    padding: 7px 13px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

li a.active, li a:hover {
    background: var(--color2);
    transition: .5s;
}

.navbar .hambur {
    font-size: 30px;
    color: var(--color5);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
} */

/* #check {
    display: none;
} */


/* .Home {
    width: 70%;
    padding: 20px;
} */

/* .Habilidades {
    width: 70%;
    padding: 20px;
} */

/* .Acerca {
    width: 70%;
    padding: 20px;
} */

/* .Servicios {
    width: 70%;
    padding: 20px;
} */

/* .box_img {
    width: 100%;
    min-height: 200px;
    position: relative;
}

.box_img img {
    position: absolute;
    bottom: 0;
    border-radius: 7em;
} */



/* @media (min-width: 750px) {
    .navbar .hambur {
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #14613e;
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all .5s;
    }
    .navbar ul li {
        display: block;
        margin: 5px 0;
        line-height: 30px;
    }
    .navbar ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: var(--color3);
    }
} */

